$main-first-color: #f00;
$main-second-color: #0f0;
$main-third-color: #00f;

$font-family-base: 'sf_ui_display', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Times New Roman', serif;

$font-size-default: 16px;

$text-color: #000;
$transition-base: all .3s ease 0s;

//Bootstrap var
$primary: #ff0000;