/*************************************************
********************* CONTENT ********************
*************************************************/
//elements
.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {

}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title {
  font-weight: $font-weight-bold !important;
  font-size: 2.125rem !important;
  text-align: center;
}

.title-line {
  width: 25px;
  height: 4px;
  margin: 1.125rem auto 20px;
  background: $main-first-color;
}

.disc-list {
  padding: 0;
  margin: 0;

  &__item {
    color: $dark;
    line-height: normal;

    &:not(:last-child) {
      margin: 0 0 1.5rem;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 3px solid $main-first-color-custom;
      border-radius: 100%;
      margin-right: 17px;
    }

    &.list-inline-item {
      font-size: 1.125rem;

      &:not(:last-child) {
        margin: 0 2rem 0 0;
      }
    }
  }
}

.border-list {
  //padding-left: 25px;
  padding-left: .75rem;
  border-width: 4px !important;

  &__item {
    color: $dark;
    line-height: normal;

    &:not(:last-child) {
      margin: 0 0 24px;
    }
  }
}

.btn-lg {
  max-width: max-content;
  margin: auto;
  padding: 0.657rem 1rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-sbold {
  font-weight: 600 !important;
}

//contents
.main-section {
  padding: 210px 0 95px;

  .disc-list {
    margin: 0 0 75px;
  }

  .border-list {
    margin: 35px 0 0;
  }
}

.main-title {
  font-weight: $font-weight-bold;
  font-size: 2.75rem;

  p {
    font-weight: $font-weight-medium;
    font-size: 1.938rem;
  }
}

.appointment-block {
  width: 100%;
  max-width: 350px;
  padding: 45px 25px 35px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.9);

  &__title {
    margin: 0 0 10px;
    font-weight: $font-weight-medium;
    font-size: 1.188rem;
  }

  &__text {
    margin: 0 0 20px;
  }

  &__price {
    &-old {
      text-decoration: line-through;
    }

    &-new {
      background: rgba(142, 204, 109, 0.31);
    }
  }

  input {
    &[type="text"],
    &[type="email"],
    &[type="number"],
    &[type="tel"],
    &[type="search"],
    &[type="password"] {
      background: #f2f0f4;
    }
  }
}

.advantages-section {
  padding: 145px 0 115px;
}

.advantages {
  &__box {

  }

  &__text {
    max-width: 165px;
  }
}

.symptoms-section {
  padding: 120px 0;
}

.symptoms {
  padding: 80px 0 0;

  &__box {

  }

  &__caption {
    font-weight: $font-weight-medium;
    font-size: 1.313rem;
  }
}

.primary-reception-section {
  padding: 120px 0 125px;
}

.primary-instruction {
  padding: 80px 0 0;
}

.primary-price {
  padding: 12px 40px;
  border-radius: 20px;
  box-shadow: 0 13px 40px rgba(0, 0, 0, 0.07);

  &__text {
    font-weight: $font-weight-medium;
    font-size: 1.125rem;
  }

  &__sum {
    color: $main-first-color;
    font-size: 1.313rem;
  }
}

.appointment-section {
  padding: 100px 0;

  .appointment-block {
    max-width: none;
    padding: 0;

    &__title {
      margin: 0 0 20px;
      font-weight: $font-weight-medium;
      font-size: 1.188rem;
    }

    &__text {
      line-height: 1.25;
    }
  }
}

.instructions-section {
  padding: 115px 0;
}

.instructions {
  margin: 130px 0 0;
}

.reviews-section {
  padding: 135px 0 120px;
}

.reviews {
  margin: 80px 0 0;

  &__box {

  }

  .card {
    padding: 30px 30px 20px;
    border-radius: 25px;
    box-shadow: 0 13px 40px rgba(0, 0, 0, 0.07);

    &-title {
      font-size: 1.125rem;
    }
  }
}

.information-section {
  padding: 100px 0;
}

.information {
  &__box {
    &:not(:last-child) {
      margin-bottom: 90px;
    }
  }
}

.customer-choice-section {
  padding: 115px 0 120px;
}

.choice {
  counter-reset: list;
  margin-top: 110px;

  &__box {
    position: relative;

    &:not(:nth-last-child(-1n + 2)) {
      margin: 0 0 70px 0;
    }

    &:before {
      counter-increment: list;
      content: counter(list, decimal-leading-zero);
      min-width: 37px;
      width: 37px;
      height: 37px;
      padding: 1.5rem 0 0 1rem;
      background-color: rgba(147, 204, 122, 0.45);
      border-radius: 6px;
      margin: 0 50px 0 0;
      font-weight: 700;
      font-size: 1.563rem;
      line-height: 1;
      text-align: center;
      transform: translate(0, -25px);
    }
  }
}

.statistics-section {
  padding: 115px 0 125px;

  .title-line {

  }
}

.statistics {
  &__box {
    &:not(:nth-last-child(-1n + 4)) {
      margin: 0 0 75px;
    }

    .title-line {
      margin: 20px auto 30px;
    }
  }

  &__value {
    font-size: 1.938rem;
  }

  &__text {

  }
}