/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  -webkit-order: 2;
  order: 2;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 320px;
  width: 100%;
}

.main-section {
  padding: 210px 0 95px;

  .disc-list {
    margin: 50px 0;
  }

  .border-list {
    margin: 35px 0 0;
  }
}

.main-title {
  font-weight: $font-weight-bold;
  font-size: 2.75rem;

  span {
    font-weight: $font-weight-medium;
    font-size: 1.75rem;
  }
}

.advantages-section {
  padding: 125px 0;
}

.advantages {
  &__box {

  }

  &__text {
    max-width: 165px;
  }
}

.symptoms-section {
  padding: 85px 0 120px;

  .section-bg {
    &__img {
      object-position: 68% center;
    }
  }
}

.symptoms {
  padding: 60px 0 0;

  &__box {

  }

  &__caption {
    margin: 0 0 40px;
    font-weight: $font-weight-medium;
    font-size: 1.313rem;
  }
}

.primary-reception-section {
  padding: 125px 0;
}

.primary-instruction {
  padding: 65px 0 0;
}

.primary-price {
  padding: 12px 40px;
  border-radius: 20px;
  box-shadow: 0 13px 40px rgba(0, 0, 0, 0.07);

  &__text {
    font-weight: $font-weight-medium;
    font-size: 1.125rem;
  }

  &__sum {
    color: $main-first-color;
    font-size: 1.313rem;
  }
}

.appointment-section {
  padding: 80px 0 100px;

  .appointment-block {
    max-width: none;
    padding-top: 0;
    padding-bottom: 0;

    &__title {
      margin: 0 0 15px;
      font-weight: $font-weight-medium;
      font-size: 1.188rem;
    }

    &__price {
      margin: 0 0 40px;
    }

    &__text {
      line-height: 1.25;
    }
  }
}

.appointment-block {
  width: 100%;
  max-width: 350px;
  padding: 40px 25px 35px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.9);

  &__title {
    margin: 0;
    font-weight: $font-weight-medium;
    font-size: 1.188rem;
  }

  &__text {
    margin: 0 0 20px;
  }

  &__price {
    &-old {
      text-decoration: line-through;
    }

    &-new {
      background: rgba(142, 204, 109, 0.31);
    }
  }

  input {
    &[type="text"],
    &[type="email"],
    &[type="number"],
    &[type="tel"],
    &[type="search"],
    &[type="password"] {
      height: 50px;
      font-size: 1rem;
      background: #f2f0f4;
    }
  }
}

.instructions-section {
  padding: 85px 0;
}

.instructions {
  margin: 90px 0 0;

  &__box {

  }
}

.reviews-section {
  padding: 80px 0 120px;
}

.reviews {
  margin: 95px 0 0;

  &__box {

  }

  .card {
    padding: 30px 30px 20px;
    border-radius: 25px;
    box-shadow: 0 13px 40px rgba(0, 0, 0, 0.07);

    &-title {
      font-size: 1.125rem;
    }
  }
}

.information-section {
  padding: 75px 0 95px;
}

.information {
  &__box {
    &:not(:last-child) {
      margin-bottom: 90px;
    }
  }

  &__text {
    margin: auto;
  }
}

.customer-choice-section {
  padding: 110px 0;
}

.choice {
  counter-reset: list;
  margin-top: 110px;

  &__box {
    position: relative;

    &:not(:last-child) {
      margin: 0 0 100px;
    }

    &:not(:nth-last-child(-1n + 2)) {
      margin: 0 0 110px 0;
    }

    &:before {
      counter-increment: list;
      content: counter(list, decimal-leading-zero);
      min-width: 37px;
      width: 37px;
      height: 37px;
      padding: 1.5rem 0 0 1rem;
      background-color: rgba(147, 204, 122, 0.45);
      border-radius: 6px;
      margin: 0 50px 0 0;
      font-weight: 700;
      font-size: 1.563rem;
      line-height: 1;
      text-align: center;
      transform: translate(0, -25px);
    }
  }
}

.statistics-section {
  padding: 105px 0 85px;

  .title-line {
    margin: 15px auto;
  }
}

.statistics {
  padding-top: 60px;

  &__box {
    &:not(:nth-last-child(-1n + 3)) {
      margin: 0 0 70px;
    }

    .title-line {
      margin: 6px auto 25px;
    }
  }

  &__value {
    font-size: 1.938rem;
  }

  &__text {

  }
}

.modal-content {
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: 0;
    font-size: 1.25rem;
  }
}