/*************************************************
********************* FOOTER *********************
*************************************************/
footer {
  .appointment-block {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0%);

    &__text {
      margin: 0 0 30px;
    }

    .title-line {
      margin: 10px auto 20px;
    }
  }
}

#map {
  width: 100%;
  height: 877px;
}

.footer-content {
  padding: 35px 0;
}

.footer-list {
  line-height: 1.625rem;

  &__item {

  }
}

.copyright {
  font-size: .875rem;
}