/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
@include media-breakpoint-down(xs) {
  .main-section {
    .border-list {
      &__item {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {

}

@include media-breakpoint-up(sm) {
  .disc-list {
    &__item.list-inline-item {
      font-size: 1.25rem;

      &:not(:last-child) {
        margin: 0 55px 0 0;
      }
    }
  }

  .main-title {
    font-size: 4rem;

    span {
      font-size: 2.875rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .information {
    &__box {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 115px;
      }
    }
  }

  .choice {
    &__box {
      &:not(:last-child) {
        margin: auto;
      }

      &:not(:nth-last-child(-1n + 2)) {
        margin: 0 0 110px 0;
      }

      &:before {
        transform: translate(0, -30px);
      }
    }
  }

  footer {
    .appointment-block {
      padding: 40px 25px 45px;
      top: 45px;
      left: auto;
      right: 30%;
      transform: translate(30%, 0);

      &__text {
        margin: 0 0 35px;
      }

      .title-line {
        margin: 15px auto;
      }
    }
  }

  #map {
    height: 500px;
  }
}

@include media-breakpoint-up(lg) {
  .main-section {
    .disc-list {
      margin: 35px 0 65px;
    }

    .border-list {
      margin: 30px 0 0;
    }
  }

  .advantages-section {
    padding: 145px 0 85px;
  }

  .symptoms-section {
    padding: 115px 0;
  }

  .appointment-section {
    padding: 100px 0 85px;
  }

  .choice {
    margin-top: 110px;
  }
}